.item {
    width: 500px;
    max-width: 500px;
    height: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    transition-duration: 0.5s;
}

.cardImage:hover {
    opacity: 0.8;
    cursor: pointer;
}

.badge {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    padding: 1px 10px;
}

@media screen and (max-width: 768px) {
    .item {
        width: 90%;
        max-width: 90%;
        margin: auto;
        margin-bottom: 50px;
    }
}