html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.required{
  border-color: red;
}

.form-control:focus {
  border-color: #1b1b1b !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.35) !important;
}
.custom-shape-divider-top-1641412148 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1641412148 svg {
  position: relative;
  display: block;
  width: calc(192% + 1.3px);
  height: 100vh;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1641412148 .shape-fill {
  fill: #000000;
}