.parent {
    width: 50%;
}

.description {
    font-size: 15pt;

}

@media screen and (max-width: 768px) {
    .parent {
        width: 90%;
    }


    .description {
        font-size: 12pt;
        margin-top: 23pt;
    }
}