.parent {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    width: 500px;
}

@media screen and (max-width: 768px) {
    .parent {
        max-width: 100%;
    }

    .form {
        width: 100%;
    }

}